/**/.idea/*
/**/project/target*
/**/target/*
/**/resources/*
/**/temperatures/*
!**/scala-tutorial/c5_scala_capstone/observatory/target/temperatures*
!**/scala-tutorial/c5_scala_capstone/observatory-spark/target/temperatures*
*~
*.class
*.DS_Store
/**/programming_in_scala_2nd_scala_v_2.8.pdf
/**/designing_data_intensive_applications _martin_kleppmann_2017.pdf
/**/effective_java_3rd_joshua_bloch_2018.pdf
*.zip
